In [14]:
cd ~/PycharmProjects/small_stuff/gotohack/blitz

/home/eamag/PycharmProjects/small_stuff/gotohack/blitz

In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, KFold, cross_val_score
from pylightgbm.models import GBMClassifier
from sklearn.metrics import f1_score
events = pd.DataFrame.from_csv("course-217-events.csv", index_col=None)
struc =  pd.DataFrame.from_csv("course-217-structure.csv", index_col=None)

In [13]:
new_t = events.merge(struc[['step_id', 'step_cost']], on='step_id')
del new_t['action']

min_time = new_t.groupby('user_id').time.min()
min_time = pd.DataFrame(min_time)
min_time['user_id'] = min_time.index

new_t.sort_values(by=['user_id', 'time'], inplace=True)
new_t = new_t.drop_duplicates(subset=['step_id', 'user_id'])
new_t = new_t[new_t['step_cost'] == 1 ]
k = []
for i in new_t.groupby('user_id'):
    if i[1].iloc[:, 3].sum() >23:    
        k.append([i[0], i[1].iloc[23, 2]])
k = pd.DataFrame(k, columns=['user_id', 'time'])

res = pd.merge(k, min_time, on='user_id', how='inner')
res['time'] = res['time_x'] - res['time_y']
res.sort_values(by=['time']).iloc[0:10, 0].values

array([  95, 2124, 4125, 4313, 4236,  915,  793, 3770, 1264, 4062])

In [18]:
data = events.merge(struc)
data.sort_values(['module_position', 'lesson_position', 'step_position', 'user_id'])

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>user_id</th>
      <th>action</th>
      <th>step_id</th>
      <th>time</th>
      <th>course_id</th>
      <th>module_id</th>
      <th>module_position</th>
      <th>lesson_id</th>
      <th>lesson_position</th>
      <th>step_position</th>
      <th>step_type</th>
      <th>step_cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>902343</th>
      <td>1</td>
      <td>passed</td>
      <td>38518</td>
      <td>1456654311</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>902344</th>
      <td>1</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1456654311</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>902345</th>
      <td>1</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1456654311</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>914108</th>
      <td>2</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1446794373</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>921439</th>
      <td>2</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1446449065</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>921678</th>
      <td>2</td>
      <td>passed</td>
      <td>38518</td>
      <td>1446446730</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>921679</th>
      <td>2</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1446446730</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>921680</th>
      <td>2</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1446446730</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897917</th>
      <td>3</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1463381928</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897918</th>
      <td>3</td>
      <td>passed</td>
      <td>38518</td>
      <td>1463381714</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897919</th>
      <td>3</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1463381714</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897920</th>
      <td>3</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1463381714</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897737</th>
      <td>5</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1463558061</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897780</th>
      <td>5</td>
      <td>passed</td>
      <td>38518</td>
      <td>1463476711</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897781</th>
      <td>5</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1463476711</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897782</th>
      <td>5</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1463476711</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>910377</th>
      <td>6</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1447504267</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>910609</th>
      <td>6</td>
      <td>passed</td>
      <td>38518</td>
      <td>1447407479</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>910610</th>
      <td>6</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1447407479</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>910611</th>
      <td>6</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1447407479</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897398</th>
      <td>7</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1464218735</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897430</th>
      <td>7</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1464159911</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>908027</th>
      <td>7</td>
      <td>passed</td>
      <td>38518</td>
      <td>1448221757</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>908028</th>
      <td>7</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1448221757</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>908029</th>
      <td>7</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1448221757</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897340</th>
      <td>8</td>
      <td>passed</td>
      <td>38518</td>
      <td>1464306194</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897341</th>
      <td>8</td>
      <td>discovered</td>
      <td>38518</td>
      <td>1464306194</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897342</th>
      <td>8</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1464306194</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897007</th>
      <td>9</td>
      <td>viewed</td>
      <td>38518</td>
      <td>1464993099</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>897008</th>
      <td>9</td>
      <td>passed</td>
      <td>38518</td>
      <td>1464993071</td>
      <td>217</td>
      <td>635</td>
      <td>1</td>
      <td>13140</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1304118</th>
      <td>3234</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455722771</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304119</th>
      <td>3234</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455722771</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304120</th>
      <td>3250</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455719410</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304121</th>
      <td>3250</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455719410</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304122</th>
      <td>3250</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455719410</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304126</th>
      <td>3263</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455716082</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304127</th>
      <td>3263</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455716082</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304128</th>
      <td>3263</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455716082</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304129</th>
      <td>3272</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455713300</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304130</th>
      <td>3272</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455713300</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304131</th>
      <td>3272</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455713300</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304142</th>
      <td>3292</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455618950</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304143</th>
      <td>3292</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455618950</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304144</th>
      <td>3292</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455618950</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304145</th>
      <td>3297</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455614372</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304146</th>
      <td>3297</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455614372</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304147</th>
      <td>3297</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455614372</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304155</th>
      <td>3299</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455541709</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304156</th>
      <td>3299</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455541708</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304157</th>
      <td>3299</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455541708</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304158</th>
      <td>3299</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455541708</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304152</th>
      <td>3306</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455556951</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304153</th>
      <td>3306</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455556951</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304154</th>
      <td>3306</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455556951</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304180</th>
      <td>3368</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455274255</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304181</th>
      <td>3368</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455274255</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304182</th>
      <td>3368</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455274255</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304198</th>
      <td>3402</td>
      <td>passed</td>
      <td>83966</td>
      <td>1455140154</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304199</th>
      <td>3402</td>
      <td>discovered</td>
      <td>83966</td>
      <td>1455140154</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1304200</th>
      <td>3402</td>
      <td>viewed</td>
      <td>83966</td>
      <td>1455140154</td>
      <td>217</td>
      <td>1260</td>
      <td>10</td>
      <td>24379</td>
      <td>1</td>
      <td>1</td>
      <td>text</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>1431923 rows Ã— 12 columns</p>
</div>