In [1]:

import pandas as pd
from datetime import datetime, timedelta

train = pd.read_csv('train.csv.zip')
train['DATE'] = pd.to_datetime(train['DATE'])

# Unique ATMs
ATM_IDs = train.ATM_ID.unique()

# The dates to predict
pred_dates  = ['2017-08-16', '2017-08-17', '2017-08-18', '2017-08-19',
               '2017-08-20', '2017-08-21', '2017-08-22', '2017-08-23',
               '2017-08-24', '2017-08-25', '2017-08-26', '2017-08-27',
               '2017-08-28', '2017-08-29', '2017-08-30', '2017-08-31',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17']

In [2]:
valid_dates = pd.date_range('2017-07-14', '2017-08-15').tolist()
len(valid_dates)

33

In [3]:
rows = []
for ATM in ATM_IDs[:50]: 
    for i in range(len(valid_dates)):
        date = valid_dates[i]
        value = train[(train.ATM_ID==ATM) & (train.DATE==valid_dates[i])]['CLIENT_OUT'].values[0]
        rows.append([date, ATM, value])

submission_valid = pd.DataFrame(rows, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])                    
submission_valid.shape

(1650, 3)

In [4]:
year_ago = pd.to_datetime(valid_dates) - timedelta(days=31)
# year_ago = pd.date_range('2017-03-01', '2017-04-02').tolist()
rows = []
for ATM in ATM_IDs[:50]: 
    for i in range(len(valid_dates)):
        date = valid_dates[i]
        value = train[(train.ATM_ID==ATM) & (train.DATE==year_ago[i])]['CLIENT_OUT'].values[0]
        rows.append([date, ATM, value])

submission = pd.DataFrame(rows, columns = ['DATE', 'ATM_ID', 'CLIENT_OUT'])

In [5]:
from score_submission import scorer, check_submission
check_submission(submission)
scorer(submission_valid, submission)*10000

9978.459669880152

In [9]:
%matplotlib inline
from matplotlib import pyplot as plt 

# plot figures and seve to folder
for atm in ATM_IDs[:50]:
    fig, ax = plt.subplots( nrows=1, ncols=1 )  # create figure & 1 axis
#     ax.plot(submission_valid[submission_valid.ATM_ID==atm].CLIENT_OUT)
    ax.plot(train[(train.ATM_ID==atm) & (train.DATE>valid_dates[0] - timedelta(days=61))].CLIENT_OUT)
    fig.savefig('pics/'+str(atm)+'.png')   # save the figure to file
    # plt.show()
    plt.close(fig)    # close the figure

In [83]:
def replace_week_ago(trainnine):
    fist_q =  trainnine.CLIENT_OUT.quantile(0.9)
    last_q = trainnine.CLIENT_OUT.quantile(0.1)
    mask = (trainnine.CLIENT_OUT > fist_q) | (trainnine.CLIENT_OUT < last_q) 
    trainnine['mask'] = mask
    trainnine['shifted'] = trainnine.CLIENT_OUT.shift(7)
    trainnine.loc[mask,['CLIENT_OUT','shifted', ]] = trainnine.loc[mask,['shifted', 'CLIENT_OUT']].values
    trainnine = trainnine.iloc[7:]
    return trainnine[['DATE', "ATM_ID", 'CLIENT_OUT']]


def apply_replace(train):
    train2 = train.iloc[:0].copy()
    ATM_IDs = train.ATM_ID.unique()
    for ATM in ATM_IDs:
        trainnine = train[(train.ATM_ID==ATM)].copy()
        trainnine = replace_week_ago(trainnine)
    #     print(trainnine.head())
        train2 = pd.concat([train2, trainnine])
    train = train2.copy()
    del train2
    return train

In [76]:
trainnine = train[(train.ATM_ID==9)].copy()
def replace_week_ago(trainnine):
    fist_q =  trainnine.CLIENT_OUT.quantile(0.9)
    last_q = trainnine.CLIENT_OUT.quantile(0.1)
    mask = (trainnine.CLIENT_OUT > fist_q) | (trainnine.CLIENT_OUT < last_q) 
    trainnine['mask'] = mask
    trainnine['shifted'] = trainnine.CLIENT_OUT.shift(7)
    trainnine.loc[mask,['CLIENT_OUT','shifted', ]] = trainnine.loc[mask,['shifted', 'CLIENT_OUT']].values
    trainnine = trainnine.iloc[7:]
    return trainnine[['DATE', "ATM_ID", 'CLIENT_OUT']]
trainnine = replace_week_ago(trainnine)
trainnine

           DATE  ATM_ID  CLIENT_OUT
7678 2015-01-15       9    233800.0
7679 2015-01-16       9    140600.0
7680 2015-01-17       9     48800.0
7681 2015-01-18       9     52500.0
7682 2015-01-19       9    190100.0
7683 2015-01-20       9    153700.0
7684 2015-01-21       9    230300.0
7685 2015-01-22       9    136400.0
7686 2015-01-23       9    235100.0
7687 2015-01-24       9     51200.0
7688 2015-01-25       9    138300.0
7689 2015-01-26       9    206700.0
7690 2015-01-27       9    193800.0
7691 2015-01-28       9    174200.0
7692 2015-01-29       9    288300.0
7693 2015-01-30       9    235100.0
7694 2015-01-31       9     45700.0
7695 2015-02-01       9     27800.0
7696 2015-02-02       9    230000.0
7697 2015-02-03       9    199300.0
7698 2015-02-04       9    273400.0
7699 2015-02-05       9    288300.0
7700 2015-02-06       9    294700.0
7701 2015-02-07       9     44000.0
7702 2015-02-08       9     26700.0
7703 2015-02-09       9    143700.0
7704 2015-02-10       9    302100.0
7705 2015-02-11       9    229400.0
7706 2015-02-12       9    251600.0
7707 2015-02-13       9    294700.0
...         ...     ...         ...
8592 2017-07-17       9    250100.0
8593 2017-07-18       9    217200.0
8594 2017-07-19       9    212700.0
8595 2017-07-20       9    195200.0
8596 2017-07-21       9    232700.0
8597 2017-07-22       9     53800.0
8598 2017-07-23       9     45400.0
8599 2017-07-24       9    250100.0
8600 2017-07-25       9    217200.0
8601 2017-07-26       9    212700.0
8602 2017-07-27       9    333200.0
8603 2017-07-28       9    232700.0
8604 2017-07-29       9     53800.0
8605 2017-07-30       9     14800.0
8606 2017-07-31       9     15500.0
8607 2017-08-01       9    217200.0
8608 2017-08-02       9    212700.0
8609 2017-08-03       9    333200.0
8610 2017-08-04       9    232700.0
8611 2017-08-05       9     53800.0
8612 2017-08-06       9     14800.0
8613 2017-08-07       9    184700.0
8614 2017-08-08       9    260100.0
8615 2017-08-09       9    143000.0
8616 2017-08-10       9         0.0
8617 2017-08-11       9    171000.0
8618 2017-08-12       9     35100.0
8619 2017-08-13       9     26000.0
8620 2017-08-14       9    184200.0
8621 2017-08-15       9    267300.0

[944 rows x 3 columns]